<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesión</title>
    <link href="{% static 'css/home/cover.css' %}" rel="stylesheet" >
    <script src="{% static 'js/home/cover.js' %}"></script>
    
    
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Bievenido</h1>
            
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="login-button">Login</button>
            </form>
        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>

</html>